/* style.css */
body {
    font-size: 14px;

    .info {
        margin-top: 20px;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.5;
        transition: all .2s;
        color: #c00;
    }
    .test {
        color: #ccc;
    }
}
